# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Project specific (large files)
data/
models/
models_pickles/
logs/

# Jupyter Notebooks 
.ipynb_checkpoints/
*.ipynb_checkpoints/
!*.ipynb
!notebooks/

outputs/
outputs/*.png
outputs/*.jpg

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log
*.tmp
*.bak